* {
    overflow: hidden;
}


body {
    background: #7F7FD5;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.card {
    background-color: #86A8E7;
    box-shadow: 4px 4px 10px #7F7FD5;
}

h1 {
    color: white;
    text-shadow: 3px 3px 20px #666;
}

.remake {
    transition: transform .2s;
}

.remake:hover {
    transform: scale(1.01);
}
